<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>ca.heckman.photos-server</string>
        <key>ProgramArguments</key>
        <array>
            <string>/sbin/pfctl</string>
            <string>-e</string>
            <string>-f</string>
            <string>/etc/pf.anchors/ca.heckman.photos-server</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
        <false/>
        <key>UserName</key>
        <string>root</string>
        <!--
        <key>StandardErrorPath</key>
        <string>/var/log/ca.heckman.photos-server.stderr.log</string>
        <key>StandardOutPath</key>
        <string>/var/log/ca.heckman.photos-server.stdout.log</string>
        -->
    </dict>
</plist>
